<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Motivos Para No Matricular Clases</h5>
          <canvas id="canvasBarra">
            {{graficoBarra}}
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alumnos De Acuerdo Con Propuesta</h5>
          <canvas id="canvasCircular">
            {{graficoCircular}}
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>