<div class='container'>
  <h1 class="text-center">Isaias Andino</h1>
  <h2 class="text-center">Crear/Publicar Nueva encuesta</h2>
  <div class="col-xs-12">
    <form (ngSubmit)="submit()" action="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
            <label for="carrera">Carrera</label>
              <input [(ngModel)]="encuesta.desc_carrera" name="desc_carrera" type="text" class="form-control" id="inputEmail" placeholder="">
          </div>  
        <div class="form-group">
            <label for="asignatura">Asignatura</label>
            <select [(ngModel)]="encuesta.id_clase" name="desc_carrera" class="form-control" placeholder="Elija una clase">
                <option *ngFor="let pensum of pensums" value="{{pensum._id}}">
                    {{pensum.id_clase}} {{pensum.desc_clase}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="catedratico">Catedratico</label>
            <select [(ngModel)]="encuesta.catedratico_clase" name="catedratico_clase" class="form-control" placeholder="Elija un catedratico">
                <option *ngFor="let catedratico of catedraticos">
                    {{catedratico.id_catedratico}} {{catedratico.nombre.nombres}} {{catedratico.nombre.apellidos}}
                </option>
            </select>
        </div>
          <div class="form-group">
              <label for="asignatura">Horario</label>
              <week-day-selector
              [selectedDays]="encuesta.dias"
              (toggleSelectedDay)="toggleDay($event)"
              ></week-day-selector>
              <input [(ngModel)]="encuesta.dias" name="dias" type="email" [value]="encuesta.getDate()" class="form-control" id="inputEmail" placeholder="Horario">
            </div>
            <input [(ngModel)]="encuesta.hora" name="hora" [ngxTimepicker]="picker">
            <ngx-material-timepicker #picker></ngx-material-timepicker>
          <hr>

      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="form-group">
              <label for="asignatura">Periodo</label>
              <input [(ngModel)]="encuesta.periodo" name="periodo" type="email" class="form-control" id="inputEmail" placeholder="Periodo">
          </div>
      </div>
      <h3>Fecha Apertura de Encuesta</h3>
      <div class="col-xs-12 col-sm-6">
          <div class="form-group">
              <label for="asignatura">Inicio</label>
              <input [(ngModel)]="encuesta.fecha_inicio" name="fecha_inicio" type="email" class="form-control" id="inputEmail" placeholder="Inicio">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
          <div class="form-group">
              <label for="asignatura">Fin</label>
              <input [(ngModel)]="encuesta.fecha_fin" name="fecha_fin" type="email" class="form-control" id="inputEmail" placeholder="Fin">
          </div>
      </div>
      <div class="col-xs-12">
          <button type="submit" class="btn btn-success">PUBLICAR</button>
      </div>
    </form>
  </div>
</div>