<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Login</h2>
          <p>Please enter your email and password</p>
        </div>
          <form (ngSubmit)="submit()">
              <div class="form-group">
                  <input type="email" [(ngModel)]="user.correo" name="correo" class="form-control" id="inputEmail" placeholder="Email Address">
              </div>
              <div class="form-group">  
                  <input type="password" [(ngModel)]="user.clave" name="clave" class="form-control" id="inputPassword" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <div *ngIf="error">{{error}}</div>
          <a routerLink="/signup" class="nav-link" routerLinkActive="active">
              No tienes una cuenta? Registrate!
          </a>
      </div>
    </div>
  </div>
</div>