<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<nav-bar></nav-bar>
<div class="container">
    <div class="row" style= "display: flex ;  align-self: center;">
		<div class="btn-group btn-group-justified">
            <div class="btn-group">
                <a routerLink="/dashboard/encuesta" class="btn btn-nav" routerLinkActive="active">
                    <span class="glyphicon glyphicon-th-list white-red"></span>
                    <p>Encuestas Por Completar</p>
                </a>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-nav">
                    <span class="glyphicon glyphicon-user white-red"></span>
    			    <p>Mi Perfil</p>
                </button>
            </div>        
        </div>
    </div>
</div>